---
title: AquarHEAD |> About Me
---

<div class="iam">
  <h1>Lou <small>'aquarhead'</small> Xun</h1>
  <h3>a passionate developer</h3>
</div>

<div class="daily">
  <h2>Daily</h2>
  <code>
    self.<a class="ccp" href="https://www.ccpgames.com/">CCP_Games</a>(Programmer)
  </code>
  <ul>
    <li><a href="https://www.eveonline.com/">EVE Online</a></li>
    <li><span class="dead">DUST 514</span></li>
    <li><a href="http://www.gunjack.com/">Gunjack</a></li>
  </ul>
</div>

<div class="indie">
  <h2>Indie</h2>
  <code>
    Wizard |> <a class="ela" href="https://github.com/ElaWorkshop">ElaWorkshop</a>
  </code>
  <ul>
    <li><a href="http://ela.build/expense">Expense</a></li>
    <li><a href="https://github.com/HaloWordApp/halosir">HaloSir</a></li>
    <li><a href="http://ela.build/oneclock">One Clock</a>
    <li><a href="https://github.com/TeaWhen/Shoka">Shoka</a></li>
    <li><a href="https://github.com/ElaWorkshop/pinboardixir">Pinboardixir</a></li>
    <li><a href="https://github.com/ElaWorkshop/ex_loglite">ExLogLite</a></li>
  </ul>
</div>

<div class="links">
  <h2>Links</h2>
  <ul>
    <li><a href="https://github.com/aquarhead">GitHub</a></li>
    <li><a href="https://twitter.com/aquarhead">Twitter</a></li>
    <li><a href="http://blog.aquarhead.me/">Blog</a></li>
    <li><a href="https://speakerdeck.com/aquarhead">Speaker Deck</a></li>
    <li><a href="http://bgm.tv/user/aquarhead">Bangumi</a></li>
    <li><a href="https://www.flickr.com/photos/aquarhead">Flickr</a></li>
    <li><a href="http://steamcommunity.com/id/aquarhead">Steam</a></li>
    <li><a href="https://www.playstation.com/en-us/my/public-trophies/?onlineId=aquarhead">PSN</a></li>
    <li><a href="https://www.instagram.com/aquarhead/">Instagram</a></li>
    <li><a href="https://stackoverflow.com/cv/aquarhead">CV</a></li>
  </ul>
</div>
