---
title: Lou Xun |> About Me
---

<div class="iam">
  <h1>Lou <small>'aquarhead'</small> Xun</h1>
  <h3>a passionate developer</h3>
</div>

<div class="job">
  <h2>Job</h2>
  <code>
    self.<a href="https://www.ccpgames.com/">CCP_Games</a>(Game_Programmer)
  </code>
</div>

<div class="indie">
  <h2>Indie</h2>
  <code>
    <a class="wizard" href="https://github.com/aquarhead">Wizard</a>
    |>
    <a class="ela" href="https://github.com/ElaWorkshop">ElaWorkshop</a>
  </code>
</div>
